.main-grid {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    font-family: sans-serif;
}

.main-grid:first-child {
    align-self: flex-start;
}

.main-grid:last-child {
    align-self: flex-end;
}

header {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-justify: center;
    padding: 1em;
}

main {
    text-align: center;
    margin-top: 10em;
}

footer {
    background-color: lightblue;
    text-align: center;
    text-justify: center;
    padding: 1em;
    margin-top: 3em;
}

h1,
h2,
h3 {
    padding: 1em;
}

.selectors {
    display: flex;
    flex-direction: rows;
    justify-content: center;
    gap: 1em;
}

.choice {
    height: 5em;
    width: 5em;
    padding: 1em;
    border-radius: 10px;
}

.winner {
    border: 1px solid black;
}

.choice:hover {
    box-shadow: 1px 1px 10px 10px black;
    cursor: pointer;
}

#rock::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f6de';
    font-size: 5em;
}

#paper::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f256';
    font-size: 5em;
}

#scissors::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f257';
    font-size: 5em;
}

.rounds {
    min-height: 25em;
}